<!DOCTYPE html>
<html>
<head>
    <title>Dashboard da Empresa</title>
</head>
<body>
    <h1>Dashboard da Empresa</h1>

    <h2>Pacotes</h2>
    <a href="{% url 'criar_pacote' %}">Criar Novo Pacote</a>
    {% for pacote in pacotes %}
        <p>
            {{ pacote.nome }}
            <a href="{% url 'editar_pacote' pacote.id %}">Editar</a>
            <a href="{% url 'insights_pacote' pacote.id %}">Insights</a>
        </p>
    {% endfor %}

    <h2>Atrações</h2>
    <a href="{% url 'criar_atracao' %}">Criar Nova Atração</a>
    {% for atracao in atracoes %}
        <p>
            {{ atracao.nome }}
            <a href="{% url 'editar_atracao' atracao.id %}">Editar</a>
            <a href="{% url 'insights_atracao' atracao.id %}">Insights</a>
        </p>
    {% endfor %}

</body>
</html>
